.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  height: 400px;
  background-color: antiquewhite;   
}
.signup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  height: 500px;
  background-color: antiquewhite; 
}
.style4{
    
    justify-content: center;
    display: grid;
    
}
