@tailwind base;
@tailwind components;
@tailwind utilities;

.container-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #000;
}

.container-todo{
  width:400px;
  height:auto;
  background-color: rgb(215, 217, 250);
}
.div-list-data{
  height: 130px;
  border: 1px solid red;
  margin: 25px;
  width: 88%;
  overflow: auto;
}
.listdatas{
 
  border: 1px solid red;
  margin:10px;
}
