
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #000;
}
.container-todo{
  width:400px;
  height:400px;
  background-color: rgb(215, 217, 250);
}
.div-list-data{
  height: 130px;
  border: 1px solid red;
  margin: 25px;
  width: 88%;
  overflow: auto;
}
.listdatas{
  text-align: center;
  border: 1px solid red;
  margin:10px;
}